h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("stardust.png");
  margin: 0 10%;
}

div {
  border-radius: 5px;
  font-size: 24px;
}

.code {
  font-family: Inconsolata, Consolas, "Liberation Mono", Courier, monospace;
  background-color: #EAEAEA;
  white-space: pre;
  margin: 2ex 0;
}

#hugh, #borg-fleet {
  background-color: black;
  font-size: 32px;
  margin: 1ex 0;
  padding: 1ex 0;
  text-align: center;
}

button {
  display: inline-block;
  padding: 5px 20px;
  font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
